<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>style</key>
		<integer>2</integer>
		<key>key</key>
		<string>advert</string>
		<key>title</key>
		<string>advert</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>3</integer>
		<key>key</key>
		<string>important</string>
		<key>title</key>
		<string>精品推荐</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>key</key>
		<string>hot</string>
		<key>title</key>
		<string>热门推荐</string>
	</dict>
</array>
</plist>
