<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>style</key>
		<integer>2</integer>
		<key>key</key>
		<string>advert</string>
		<key>title</key>
		<string>advert</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>3</integer>
		<key>key</key>
		<string>topics</string>
		<key>title</key>
		<string>精品推荐</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>key</key>
		<string>hot</string>
		<key>title</key>
		<string>热门推荐</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>4</integer>
		<key>key</key>
		<string>boys</string>
		<key>title</key>
		<string>男生原创</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>4</integer>
		<key>key</key>
		<string>girls</string>
		<key>title</key>
		<string>浪漫女生</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>5</integer>
		<key>key</key>
		<string>new</string>
		<key>title</key>
		<string>最新推荐</string>
	</dict>
	<dict>
		<key>style</key>
		<integer>6</integer>
		<key>key</key>
		<string>list</string>
		<key>title</key>
		<string>书单</string>
	</dict>
</array>
</plist>
